@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(188, 148, 3);
    background: linear-gradient(145deg, hwb(232 0% 72%) 26%, rgba(255, 235, 14, 0.981) 46%, rgba(17,74,125,1) 64%, rgba(3,50,49,1) 84%);
    background-repeat: 2;
    height: 100vh;
    font-family: "Hanalei", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#link:link{
    color: rgb(0, 246, 246);
    font-size: 50px;
}
#visited:visited{
    color: rgb(255, 37, 37);
}
#active:active{
    color: rgb(14, 104, 86);
}
#hover:hover{
    font-weight: 400;
}
a{
    text-decoration: none;
}


