* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-image: url(german\ car.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.kill {
    font-family: 'Arial', sans-serif;
    color: #000000; 
    font-weight: bolder;
    font-size: large;
    text-align: center;
}
