* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-image: url(lion.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.kill {
    font-family: 'Georgia', 'Times New Roman', serif;
    color: #D2691E;
    font-weight: bolder;
    font-size: large;
    text-align: center;
}
