* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-image: url(ლამპრობა.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}


.kill {
    font-family: 'Tisa', 'Arial', sans-serif;
    color: #8B4513; 
    font-weight: bolder;
    font-size: large;
    text-align: center;
}