* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.num1 {
  text-align: center;
  background-color: sienna;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: xx-large;
  border: solid;
}
.image1 {
  border: 5px solid black;
  width: 600px;
  cursor: pointer;
}
.foot {
  background-color: tomato;
  border: solid black 5px;
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
  font-weight: bolder;
}
