@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(63,64,251);
    background: radial-gradient(circle, rgb(27, 16, 179) 0%, rgb(9, 160, 19) 100%);
    background-repeat: 2;
    height: 100vh;
    font-family: "Gloria Hallelujah", serif;
    font-weight: 400;
    font-style: normal;
      
}



ul{
    margin: 100px;
    list-style-image: url(/level\ 39/homework/assets/earth.png)
}
