* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(1,1,1);
    background: linear-gradient(172deg, rgba(1,1,1,1) 23%, rgba(1,1,1,1) 33%, rgba(49,44,17,1) 42%, rgba(205,174,22,1) 56%, rgba(68,60,23,1) 73%, rgba(88,78,30,1) 84%, rgba(118,104,39,0.9725140056022409) 100%, rgba(235,179,16,1) 100%);
    background-repeat: no-repeat;
    height: 100vh ;
}
.dog {
    background: rgb(6,5,1);
    background: linear-gradient(172deg, rgba(6,5,1,0.9725140056022409) 35%, rgba(118,104,39,0.9725140056022409) 50%, rgba(210,174,5,1) 57%, rgba(118,104,39,0.9725140056022409) 89%, rgba(118,104,39,0.9725140056022409) 100%, rgba(235,203,16,1) 100%);
    width: 300px;
    border-radius: 32px;
    margin: 10px auto;        /* center */
    padding: 10px;
    box-shadow: rgba(1, 1, 2, 2) 1.95px 1.95px 2.6px 2.2px;     /* shadow */
  }