* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 50px 60px 70px 60px;
    padding: 50px 60px 70px 60px;
    border: 10px solid black ;
    background-color: blueviolet;
    border-radius: 50%;
    font-family: cursive;
    font-size: x-large;
}
